.header{
    width:100%;
    height:100px;
    background-color:rgb(4, 87, 101);

}

body {
    background-color:#f5f5dc;
    width:100%;

    margin:0;
}

h3{
    font-family: sans-serif;
}


form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
    width: 200px
}

input{
    display:block;
    margin-bottom:10px;

}

div{
    display:block;
}

button{
margin: 5px;
}

table {
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid black;
}



