<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" href="../Images1/cartStyling.css">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> -->
    <title>Cart Page</title>
</head>
<body>
<div class="header"><img src="../Images1/digitaly.jpg" width="150" height="100"> </div>

<h3>Cart Page</h3>
<table>
    <tr>
        <td></td>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
    </tr>
    <tr var="total" value="0"></tr>
    <tr th:each="item : ${session.cart}" > <!-- Didn't find item since the look ended on 21 since it was another tr -->
    <td>
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.product.price * item.quantity}"></td>
    </td>
        <td>
            <img th:src="@{/Images1/} + ${item.product.image}" width="100">
        </td> <br>
        <td align="center">
            <a th:href="'/cart/remove/' + ${item.product.id}"
               onclick="return confirm('Are you sure you want to remove this item?')">Remove</a>
        </td>
    </tr>

    <!--
    <tr th:each="item : ${session.sum}" >
        <td th:text="{res} + ${item.quantity}"></td>
    </tr>
    <tr th:each="item : ${session.sum}" >
        <td th:field="${item.product.price * item.quantity}"></td>
    </tr>
    <td colspan="6" align="right">Sum</td>
    <td th:text="" </td>
    -->

</table>
<br>
<a th:href="'/'">Continue Shopping</a>

</body>
</html>

