<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../Images1/formStyling.css">
    <meta charset="UTF-8">
    <title>Login to "My pages"/My account</title>
</head>
<body>
<div class="header"><img src="../Images1/digitaly.jpg" width="150" height="100"> </div>
<a th:href="@{/}" >
    <button>Home </button>
</a>

<!--<form th:action="@{/cart}" method="post">
    <input type="button" value="Cart"/>
</form>
-->
<h1>Log In</h1>
<form th:action="@{/login}" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit">

    <div>
    <a href="/register">No account? Register here</a>
    </div>


</form>

</body>
</html>