<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>Product</title>
</head>
<body>
<h1>Product</h1>
<div>
  <p><a th:href="'/?page=' + ${page}">Back to product page</a></p>
</div>
<div>
  <p><a th:href="'/edit/' + ${product.id}">Edit product</a></p>
</div>
<table>
  <tr>
    <th>Title</th>
    <th th:text="${product.name}"></th>
  </tr>
  <tr>
    <th>Author</th>
    <th th:text="${product.brand}"></th>
  </tr>
  <tr>
    <th>Price</th>
    <th th:text="${product.price}"></th>
  </tr>
</table>

</body>
</html>