<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" href="../Images1/productStyling.css">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Product</title>
</head>
<body>
<div class="header"><img src="../Images1/digitaly.jpg" width="150" height="100"> </div>

<h1>Product</h1>
<div>
  <p><a th:href="'/?page=' + ${page}">Back to Products</a></p>
</div>
<table>
  <tr>
    <th>Name</th>
    <th th:text="${product.name}"></th>
  </tr>
  <tr>
    <th>Brand</th>
    <th th:text="${product.brand}"></th>
  </tr>
  <tr>
    <th>Price</th>
    <th th:text="${product.price}"></th>
  </tr>
  <tr>
    <form th:action="'/cart/' + ${product.id}" method="post">
      <input type="submit" value="Cart"/>
    </form>
  </tr>
</table>

</body>
</html>