<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Products</title>
</head>
<link rel="stylesheet" href="../Images1/mainPage.css">
<table style="text-align:right">
    <td><img src="../Images1/digitaly.jpg" width="1500" height="1000"></td>
</table>
<body style="text-align:center">
<h1>Products</h1>

<table style="text-align:left">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td><a th:href="'/product/' + ${currentPage} + '/' + ${product.id}" th:text="${product.name}"></a></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.price}"></td>
        <td><img th:src="@{/Images1/} + ${product.image}" width="100"></td>
        <td><select name = "Quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </td>
        <td>
            <form th:action="'/cart/' + ${product.id}" method="post">
                <input type="submit" value="Cart"/>
            </form>
        </td>


    </tr>
</table>
<div>

        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

    <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
        </span>

    <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
</div>

</body>
</html>