<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../Images1/formStyling.css">
    <meta charset="UTF-8">
    <title>Register as a new user</title>
</head>
<body>
<div class="header"><img src="../Images1/digitaly.jpg" width="150" height="100"> </div>

<a th:href="@{/}" >
    <button>Home </button>
</a>
<a th:href="@{/login}" >
    <button>Log In </button>
</a>

<a th:href="@{/cart}" >
    <button>Cart </button>
</a>


<h1> Welcome to DigItaly's club!</h1>
<h4>Please fill in your information below:</h4>

<form action="/register" method="post" th:object="${customer}">
    <div>Username: <input type="text" name="username" th:field="*{username}"></div>
    <div>Password: <input type="password" name="password" th:field="*{password}"></div> <!--add if-statement to this based on verification -->
    <!-- Verify password: <input type="password" name="password"> -->
    <div>First name: <input type="text" name="firstName" th:field="*{firstName}"></div>
    <div>Last name: <input type="text" name="lastName" th:field="*{lastName}"></div>
    <div>Email: <input type="text" name="email" th:field="*{email}"> </div><!--add if-statement to this based on verification -->
    <div>Adress: <input type="text" name="adress" th:field="*{address}"></div>
    <!--Verify email: <input type="text" name="email"> -->

    <input type="submit" value="Save Details">
</form>

</body>
</html>