<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../Images1/mainPage.css">
    <meta charset="UTF-8">
    <title>Secret Edit page </title>
</head>
<body>
<form th:action="@{/}" method="post">
    <input type="button" value="View Product Page"/>
</form>

<h1> Add products</h1>

<form action="/secretEdit" method="post" th:object="${product}">
    <div>Name: <input type="text" name="name" th:field="*{name}"></div>
    <div>Brand: <input type="text" name="brand" th:field="*{brand}"></div> <!--add if-statement to this based on verification -->
    <!-- Verify password: <input type="password" name="password"> -->
    <div>Price: <input type="text" name="price" th:field="*{price}"></div>
    <div>Image: <input type="text" name="image" th:field="*{image}"></div> <!--add if-statement to this based on verification -->
    <div>Id(Existing Product): <input type="text" name="id" th:field="*{id}"></div>

    <div><input type="submit" value="Save Details"></div>
</form>

</body>
</html>