<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secret Edit page </title>
</head>
<body>

<form action="/secretEdit" method="post" th:object="${product}">
    Name: <input type="text" name="username" th:field="*{name}">
    Brand: <input type="password" name="password" th:field="*{brand}"> <!--add if-statement to this based on verification -->
    <!-- Verify password: <input type="password" name="password"> -->
    Price: <input type="text" name="firstName" th:field="*{price}">
    Id: <input type="text" name="lastName" th:field="*{id}">
    Image: <input type="text" name="email" th:field="*{image}"> <!--add if-statement to this based on verification -->

    <input type="submit" value="Save Details">
</form>

</body>
</html>